[Unit]
Description=Accident Monitor Secondary
After=network.target

[Service]
Type=simple
User=USER
WorkingDirectory=/home/USER
ExecStart=/usr/bin/python3 waze_accident_monitor_secondary.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target